[build]
builder = "NIXPACKS"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "minecraft-server"

[services.variables]
MINECRAFT_VERSION = "1.21.1"
MINECRAFT_TYPE = "PAPER"
EULA = "true"
SERVER_PORT = "25565"
RCON_PORT = "25575"
ENABLE_RCON = "true"

[services.resources]
memory = "2048Mi"
cpu = "1000m"

[env]
PORT = "25565"
